* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(18, 18, 20);
}

h2{
    text-align: center;
    color: rgb(0, 255, 94);
    padding: 8px;
}

.bg{
    display: none;
}

input[type=submit], input[type=Reset]{
    -webkit-appearance: none;
}

.btn-close{
    border: 10px solid rgb(18, 18, 20);
    background-color: rgb(0, 255, 94);
    text-align: center;
    padding: 6px;
    height: 50px;
    width: 50px;
    float: right;
    top: 30px;
    left: 15px;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
}

fieldset{
    height: 400px;
    width: 300px;
    background-color: rgb(32, 32, 36);
    border: rgb(0, 0, 0) 0px solid;  
    border-radius: 10px;
    text-align: center;
}

fieldset input{
    width: 70%;
    height: 35px;
    outline: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(18, 18, 20);
    border: 0; 
    padding-left: 32px;
    color: #ccc;
    margin-bottom: 10px; 
    position: relative;  
}
fieldset i{
    position: absolute;
    z-index: 11;
    color: rgb(0, 255, 94);    
}

.input-name{
    position: relative;
}

.input-icon{
    position: absolute;
    width: 30px;
    height: 35px;
    background-color:  rgb(41, 41, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
    z-index: 10;
    border-top-left-radius: 5px;
    
}

.input-icon:focus{
    border-bottom: 1px solid rgb(0, 255, 94);
}



fieldset a{
    color: rgb(82, 82, 82);
    font-size: 12px;
    display: block;
}

fieldset input:focus{
    border-bottom: 1px solid rgb(0, 255, 94);
    -webkit-appearance: none;
}

fieldset input[type=submit]{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:rgb(0, 255, 94);
    color: black;
    font-weight: 300;
    border: 0;
    border-radius: 5px;
    -webkit-appearance: none;
    padding-left: initial;
}

fieldset input[type=submit]:hover{
    background-color: rgb(33, 172, 84);
    transition: 0.5s;
    -webkit-appearance: none;

}

.icons span{
    text-align: center;
    display: block;
    color: rgb(82, 82, 82);
}

.icons a{
    font-size: 30px;
    color: rgb(0, 255, 94);
    margin-top: 10px;
    padding: 0 10px;
    text-decoration: none;
}

.contact input[type=button]{
    background-color:rgb(0, 255, 94);
    color: black;
    font-weight: 600;
    font-size: 16px;
    outline: 0;
    border: 2px solid  black;
    cursor: pointer;
    height: 60px;
    width: 250px;
    border-radius: 10px;
}

.line{
    width: 90%;
    height: 1px;
    background-color: rgb(56, 53, 53);
    margin: 0 auto;
}


.button{
    margin-top: 50px;
    color: white;
    background-color: #ccc;
    width: 55px;
    height: 18px;
    border-radius: 10px;
    position: relative;
    float: right;
    
}
.cicle{
    width: 20px;
    height: 21px;
    margin-top: -2px;
    background-color: rgb(1, 255, 77);
    border-radius: 10px;
    
}







.active-cadastro{
    display: none;
}

fieldset.cadastro{
    height: 450px;
}



.container1{
    transform: translate(-50%,-50%);
    top: 5%;
    left:50%;
    position: relative;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=radio]{
    display: none;
}

label{
    color: #ccc;
    position: relative;
    font-family: 'poppins',sans-serif;
    font-size: 13px;
    border: 2px solid rgb(32, 32, 36);
    border-radius: 5px;
    padding: 7px 1px;
    bottom: 10px;
    display: flex;
    align-items: center;
    
    
  
}

label:nth-of-type(2){
    margin-left: 10px;
}

label:before{
    content: "";
    height: 16px;
    width: 16px;
    border: 2px solid rgb(26, 25, 25);
    border-radius: 50%;
    margin-right: 17px;
  
}

input[type=radio]:checked + label{
    background-color: rgb(41, 41, 43);
    color: rgb(255, 255, 255);
    
    
    
    
}

input[type=radio]:checked + label:before{
    height: 8px;
    width: 8px;
    border: 8px solid rgb(1, 255, 77);
    margin-left: 9px;
    
  
} 







